button {
  padding: 10px;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #2d5ebe;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #1e3d85;
}
